

<div class="max-w-lg container mx-5 pt-5">
    <h1 class="text-center mb-2 " >{{ title | titlecase}}</h1>
    <div *ngIf="products$ | async as products" class=" flex justify-between p-4 m-2" >
        <app-product *ngFor="let product of products | staticcurrencyPipe : 'USD'" [product]="product" ></app-product>
        <app-product *ngFor="let product of products | staticcurrencyPipe : 'EUR'" [product]="product" ></app-product>
    </div>
      

   <div class="flex flex-row mb-5 justify-between align-items-center">
    <label> Currency From</label>
    <select class="ml-20 p-2" (change)="ChangeCurrencyFrom($event)" >
         <option [value]="product.rate" *ngFor="let product of products$ | async">
            {{product.cc}}
         </option>
    </select>
    <input type="text" class="mb-2 border py-2 mx-4 v-full" (change)="ChangeNumberFrom($event)" [value]="numberFrom" placeholder=" ">
   
   </div>

   <div class="flex flex-row justify-between align-center">
    <label> Currency To</label>
    <select class="ml-20 p-2" (change)="ChangeCurrencyTo($event)" >
         <option [value]="product.rate" *ngFor="let product of products$ | async">
            {{product.cc}}
         </option>
    </select>
    <input type="text" class="mb-2 border py-2 mx-4 v-full" (change)="ChangeNumberTo($event)" [value]="numberTo" placeholder=" " >
   
   </div>
    
  

</div>
